<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}"></head>

<body>
    <header th:replace="~{fragments/commons::nav}"></header>
    <main>
        <div th:if="${@currentUser.isLoggedIn()}">
            <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add offer</span></h1>
            <hr class="hr-3 w-25 bg-white" />

            <form class="mx-auto w-25 bg-blur rounded" th:method="post" th:action="@{/offers/add}" th:object="${offerAddModel}">

                <div class="form-group">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label for="description" class="h4 mb-2">Description</label>
                    </div>

                    <textarea type="text" class="form-control" id="description" th:field="*{description}" th:errorclass="'is-invalid bg-danger'">
                    Sample text
                </textarea>

                    <div class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('description')}" th:text="${err}"></div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label for="price" class="h4 mb-2">Price</label>
                    </div>

                    <input type="number" step="0.01" class="form-control" id="price" th:field="*{price}" th:errorclass="'is-invalid bg-danger'" />

                    <div class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('price')}" th:text="${err}"></div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="text-white label-holder d-flex justify-content-center">
                        <label for="condition" class="h4 mb-2">Condition</label>
                    </div>

                    <select class="browser-default custom-select" id="condition" th:field="*{conditionName}" th:errorclass="'is-invalid bg-danger'">
                    <option value="">- Select condition -</option>
                    <option th:each="c : ${T(com.reseller.model.entity.enums.ConditionName).values()}"
                            th:text="${c}"
                            th:value="${c}"
                            th:selected="${c} == *{conditionName}">
                        Condition type
                    </option>
                </select>

                    <div class="invalid-feedback errors alert alert-danger">
                        <div th:each="err : ${#fields.errors('conditionName')}" th:text="${err}"></div>
                    </div>
                </div>

                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning  mb-3" value="Register">Add offer</button>
                </div>

            </form>
        </div>
        <div th:unless="${@currentUser.isLoggedIn()}" class="container bg-blur rounded mt-5 ">
            <h3>
                <a class="text-primary" th:href="@{/auth/login}">Login</a> if you have an account or
                <a class="text-primary" th:href="@{/auth/register}">Register</a> now and check our deals.
            </h3>
        </div>
    </main>
    <footer th:replace="~{fragments/commons::footer}"></footer>
</body>

</html>