<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coffee Shop Application</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info rounded">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul th:if="${@currentUser.isLoggedIn()}" class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders/add}">Add Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/logout}">Logout</a>
                </li>
            </ul>
            <ul th:unless="${@currentUser.isLoggedIn()}" class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>
            </ul>
            <img width="50px" th:src="@{/images/coffee.png}" alt="Coffee image">
        </div>
    </nav>
</header>

<footer class="container">
    <p>&copy; Spring Team 2021. All rights reserved.</p>
</footer>

</body>

</html>



