<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Battleships Application</title>
    <th:block th:insert="~{/fragments/head}" />
</head>

<body class="body-main">

    <header>
        <nav th:replace="~{/fragments/navbar}"></nav>
    </header>

    <main role="main">
        <div class="jumbotron">
            <div class="container text-light ">
                <h1 class="display-3">
                    <span class=" pl-3 font-weight-bold text-center">
                    Register
                </span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <img class="rounded" width="100%" th:src="@{/images/register.jpg}" alt="Battle ship image">
                </div>

                <div class="col-md-6">
                    <div class="container bg-blur rounded p-5 mt-5 w-75">

                        <form th:action="@{/auth/register}" th:method="post" th:object="${userRegisterModel}" class="text-center text-light">

                            <div class="form-group row">
                                <label for="username" class="col-sm-2 col-form-label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="username" th:field="*{userName}" th:errorclass="'is-invalid bg-danger'" aria-describedby="usernameHelpInline" placeholder="Username">

                                    <div class="invalid-feedback errors alert alert-danger">
                                        <div th:each="err : ${#fields.errors('userName')}" th:text="${err}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="fullName" class="col-sm-2 col-form-label">Full name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="fullName" th:field="*{fullName}" th:errorclass="'is-invalid bg-danger'" aria-describedby="fullNameHelpInline" placeholder="Full name">

                                    <div class="invalid-feedback errors alert alert-danger">
                                        <div th:each="err : ${#fields.errors('fullName')}" th:text="${err}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="email" th:field="*{email}" th:errorclass="'is-invalid bg-danger'" aria-describedby="emailHelpInline" placeholder="email@example.com">

                                    <div class="invalid-feedback errors alert alert-danger">
                                        <div th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" th:field="*{password}" th:errorclass="'is-invalid bg-danger'" aria-describedby="passwordHelpInline" placeholder="Password">

                                    <div class="invalid-feedback errors alert alert-danger">
                                        <div th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                                <div class="col-sm-10">
                                    <input type="password" th:field="*{confirmPassword}" th:errorclass="'is-invalid bg-danger'" class="form-control" id="confirmPassword" aria-describedby="confirmPasswordHelpInline" placeholder="Confirm Password">

                                    <div class="invalid-feedback errors alert alert-danger">
                                        <div th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-warning w-50">Register</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{/fragments/footer}"></footer>

</body>

</html>