<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <h1 class="text-center mt-2">
        <span class="badge badge-pill badge-dark">Add word</span>
    </h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/words/add}"
          th:object="${wordAddModel}">

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="term" class="h4 mb-2">Term</label>
            </div>
            <textarea type="text"
                      class="form-control"
                      id="term"
                      th:field="*{term}"
                      th:errorclass="'is-invalid bg-danger'"></textarea>
            <div class="invalid-feedback errors alert alert-danger">
                <div th:each="err : ${#fields.errors('term')}" th:text="${err}"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="translation" class="h4 mb-2">Translation</label>
            </div>
            <textarea type="text" class="form-control" id="translation"
                      th:field="*{translation}"
                      th:errorclass="'is-invalid bg-danger'"></textarea>
            <div class="invalid-feedback errors alert alert-danger">
                <div th:each="err : ${#fields.errors('translation')}" th:text="${err}"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="example" class="h4 mb-2">Example</label>
            </div>
            <textarea type="text" class="form-control" id="example"
                      th:field="*{example}"
                      th:errorclass="'is-invalid bg-danger'"></textarea>
            <div class="invalid-feedback errors alert alert-danger">
                <div th:each="err : ${#fields.errors('example')}" th:text="${err}"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="inputDate" class="h4 mb-2">Set input date</label>
            </div>
            <input type="date" class="form-control" id="inputDate"
                   th:field="*{inputDate}"
                   th:errorclass="'is-invalid bg-danger'"/>
            <div class="invalid-feedback errors alert alert-danger">
                <div th:each="err : ${#fields.errors('inputDate')}" th:text="${err}"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="language" class="h4 mb-2">Language</label>
            </div>
            <select class="browser-default custom-select" id="language"
                    th:field="*{language}"
                    th:errorclass="'is-invalid bg-danger'">
                <option value="">- Select language -</option>
                <option th:each="l : ${T(com.dictionaryapp.model.enumerated.LanguageEnum).values()}"
                        th:text="${l.getDisplayName()}"
                        th:value="${l}"
                        th:selected="${l} == *{language}">{LANGUAGE}</option>
            </select>

            <div class="invalid-feedback errors alert alert-danger">
                <div th:each="err : ${#fields.errors('language')}" th:text="${err}"></div>
            </div>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add word</button>
        </div>

    </form>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
